body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(145, 142, 142);
}
#head {
    background-color:rgb(53, 53, 53);
    color:white;
    
}

.historyStuff {
    padding-top: 40px;
    background-color: rgb(145, 142, 142);
    border-right: 1px solid white;
}

.sear {
    padding-bottom: 5px;
}

.historyStuff {
   position: absolute;
   height: 100%;
}

.searchBtn {
    height:37px;
}

.searchArea{
    margin-bottom: 20px;
}

#info{
  padding-top: 30px;
}

#aside {
    padding-left:30px;
    
}

#searchHistory{
    height: 20vw;
    max-height: 20vw;
    overflow: scroll;
    padding-left: 10px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#currentInfo{
    font-size: 20px;
}

h2{
    text-align: center;
}
#searchHistory {
    padding-top: 30px;
}